[submodule "Linkhub"]
	path = Linkhub
	url = https://github.com/linkhub-sdk/linkhub.auth.vb6.git
[submodule "PopbillStatement"]
	path = PopbillStatement
	url = https://github.com/linkhub-sdk/popbill.statement.vb6.git
